*{
    padding: 0;
    margin: 0;
}
.HomeContainer{
    height: 100vh;
    /* background: black; */
    background-image: url("https://res.cloudinary.com/dggvxdkri/image/upload/v1665065699/samples/Attendance%20pict/Regtank-KYC-Compliance-Made-Simple-1024x683_ogu3gc.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.homeModel{
    background-color: black;
    width: 50%;
    height: 50vh;
    /* margin-bottom: 100px; */
    margin-top: 10px;
    /* margin-left: 350px; */

}